<%- include('partials/header') -%>

<div class="container">
    <div class="alert alert-danger mt-4 text-center">
        Recipe failed to be added via url please add manually
    </div>
</div>
    
<%- include('partials/footer') -%>