.img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    @supports not (aspect-ratio: 16 / 9) {
        &::before {
          float: left;
          padding-top: 56.25%;
          content: "";
        }
    
        &::after {
          display: block;
          content: "";
          clear: both;
        }
      }
}

@media (max-width: 767.98px) {
    .img-fit {
        aspect-ratio: 1 / 1;
        @supports not (aspect-ratio: 1 / 1) {
            &::before {
              float: left;
              padding-top: 100%;
              content: "";
            }
        
            &::after {
              display: block;
              content: "";
              clear: both;
            }
          }
    }
}

.form-control:focus {
    border-color: #21252940;
    box-shadow: 0 0 0 0.2rem rgba(34, 38, 42, 0.25);
} 